body {
    background-color: blue;
}

.headerContainer {
    display: flex;
}

.headerH1 {
    text-align: center;
    color: white;
    background-color: blue;
}

.headerH2 {
    text-align: center;
}

.title {
    margin: 50px;
}


.mainContainer {
    background-color: white;
    display: grid;
    grid-template-areas: 
    'areaOne areaTwo areaTwo areaTwo'
    'areaOne areaThree areaThree areaThree'
    ;
}

.containerArea {
    height: 300px;
}

.searchBtn {
    background-color: aqua;
    position: relative;
    top: 20px;
    left: 20px;
    width: 90%;
}

.btn {
    position: relative;
    top: 20px;
    padding: 10px;
    margin: 20px;
}

.weatherCard {
    color: white;
    background-color: cadetblue;
    margin: 5px;
    text-align: center;
}


#citySearch {
    position: relative;
    flex-direction: row;
    width: 90%;
    height: 30px;
    left: 15px;
}

#item1 {
    grid-area: areaOne;
    display: flex;
    flex-direction: column;
}

#item2 {
    grid-area: areaTwo;
}

#item3 {
    margin-left: 50px;
    grid-area: areaThree;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    'forecast forecast forecast forecast forecast'
    'cards cards cards cards cards'
    ;
}

#forecastTitle {
    grid-area: forecast;
}
